[tool.poetry]
name = "cvxFin"
version = "0.0.0"
description = "Good old faithful portfolio construction"
authors = ["Thomas Schmelzer"]
readme = "README.md"
packages = [{include = "cvx"}]

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^2.0.3"
cvxpy = "*"
scikit-learn = "*"

[tool.poetry.dev-dependencies]
pytest = "7.4.0"
pytest-cov = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
