name: "book"

on:
- push

jobs:
  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.3

      - uses: cvxgrp/.github/actions/pdoc@v2.2.3

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.3

      - uses: cvxgrp/.github/actions/coverage@v2.2.3

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.3

      - uses: cvxgrp/.github/actions/jupyter@v2.2.3


  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc, jupyter]

    permissions:
      contents: write

    steps:
      - uses: cvxgrp/.github/actions/book@v2.2.3
